:root {
  --color-primary-900: #555200;
  --color-primary-500: #AAA639;
  --color-primary-100: #FFFCAA;
}

.dark {
  --color-primary-900: #220439;
  --color-primary-500: #532B72;
  --color-primary-100: #9476AB;
}

body,
html,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: var(--color-primary-100);
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input__label {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.input__btn {
  position: absolute;
  top: 17px;
  right: 0;
}

.input__input {
  display: block;
  width: 100%;
}

.input__input--error {
  border-color: red;
}

.input__message {
  color: red;
}

header {
  background-color: var(--color-primary-900);
  padding: 20px 0;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  flex-grow: 1;
}

nav ul {
  display: flex;
  gap: 15px;

  a {
    color: var(--color-primary-100);
  }
}

.message {
  background-color: green;
  color: white;
}

.forms-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forms-list__item {
  display: flex;
  background-color: var(--color-primary-500);
  border-radius: 5px;
  align-items: center;
  gap: 10px;
  padding: 10px;

  span {
    background-color: var(--color-primary-100);
    border-radius: 4px;
  }
}

.notifications {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.notification {
  padding: 10px;
  background-color: var(--color-primary-500);
  display: flex;
  justify-content: space-between;
}
